:root {
    --fs-buttonli: 1rem;
    --width: 200px;
    --red: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* img {
    width: 100%;
 }

 * button {
    border: none;
    border-radius: 20px;
}

[class*="sec"], .texas, 
.footernav, .navbar ul  {
    display: flex;
}

.presec p:first-of-type, 
.concert p:first-of-type,
 .videos p:first-of-type {
    margin-top: 20px;
    font-size: x-large;
}


.presec p:nth-of-type(2),
.concert p:nth-of-type(2),
.videos p:nth-of-type(2) {
    font-family: "Dancing Script", cursive;
    font-size: x-large;
    color: var(--red);
    font-weight: 700;
    letter-spacing: 2px;
    margin-right:25px ;
}

.navbar {
    display: flex;
    width: 100%;
    position: relative;
}

.footernav {
    gap:10px;
    align-items: center;
    flex-direction: column;
}

.navbar ul {
    list-style-type: none;
    position: absolute;
    top:30%;
}

.footernav ul {
    gap:10px;
    display: flex;
}

.navbar li {
    font-size: var(--fs-buttonli);
    margin-left: 20px;
}

.footernav li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
} 

.footernav  li a {
    color: black;
    text-decoration: none;
}

.footernav span {
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    color: var(--red);
}

span {
    margin-left: 5px;
    font-size: 10px;
}

.text2 span {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
}

.header h1 {
    top:25%;
    left:37%;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: var(--red);
}

.texas h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.header p {
    top:40%;
    left:39%;
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 4vw;
}

.texas p {
    font-size: var(--fs-buttonli);
}

.text2 p {
    font-size: 1.2rem;
}

.songs p {
    font-size: var(--fs-buttonli);
}

.lastsec p {
    font-size: 1.5rem;
}

.lastsec hr {
    height: 3px;
    background-color: black;
}

.images {
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    width:25%;
}

.midsec2 img {
    width: 40%;
}

i ~ button {
    font-size: var(--fs-buttonli);
    top:20%;
    right: 30px;
    position: absolute;
    color:var(--red);
    padding: 10px;
}

.header button {
    border: none;
    padding: 15px;
    color: white;
    background-color: var(--red);
    position: absolute;
    right:47%;
    top:60%;
}

.texas button {
    font-size: var(--fs-buttonli);
    width: var(--width);
    padding: 10px;
    color: white;
    background-color: var(--red);
}

.piano i {
    padding: 15px;
    color: white;
    border-radius: 50%;
    background-color: var(--red);
    font-size: 20px;
    position: absolute;
    top:45%;
    right: 42%;
}

.fas {
    background-color: var(--red);
    color: white;
    padding: 10px;
}

.fa {
    font-size: 15px;
    top:30%;
    position: absolute;
    color: white;
}

.fa-facebook-f {
    right: 35%;
}

.fa-twitter {
    right: 29%;
}

.fa-google-plus {
    right: 23%;
}

.header {
    position: relative;
}

.mainsec {
    justify-content: center;
    gap:30px;
    width: 100%;
}

.midsec {
    justify-content: center;
    width: 100%;
    gap:20px;
}

.midsec2 {
    position: relative;
    background: linear-gradient(black, gray);
    justify-content: end;
    display: flex;
    width: 63%;
    margin: 30px auto;
}

.midsec3 {
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
}

.presec {
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.lastsec {
    gap:50px;
    width: 65%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.arrowsec {
    justify-content: end;
    gap:10px;
    width: 82%;
}

.artistssec {
    margin: 30px auto;
    width: 65%;
    justify-content: space-between;
}

.text {
    width: 100%;
    color: white;
    background-color: var(--red);
    bottom: 0;
    position: absolute;
    text-align: center;
}

.text2 {
    gap:30px;
    flex-direction: column;
    display: flex;
    color: white;
    top:20%;
    left: 10%;
    position: absolute;
}

.john {
    width: 20%;
    position: relative;
}

.rendi {
    width: 20%;
    position: relative;
}

.renes {
    width: 20%;
    position: relative;
}



.texas {
    justify-content: center;
    width: 20%;
    flex-direction: column;
    gap: 15px;
}

.jan13 {
    width: 20%;
}

.piano {
    position: relative;
    width: 20%;
}

.instfeed {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-around;
}

.images div {
    width: 100%;
    display: grid;
}

.popsong {
    display: flex;
    justify-content: space-between;
}

.songs {
    display: flex;
    flex-direction: column;
    gap:10px;
}


@media screen and (max-width:1080px) {
:root {
    --fs-buttonli: 0.7rem;
    --width: 140px;
}

.artistssec {
    margin: auto;
}
    
.texas, .text2 {
    gap:10px;
}

li {
    margin-left: 15px;
}

.fa-facebook-f {
    right: 36%;
}
    
.fa-twitter {
    right: 29%;
}
    
.fa-google-plus {
    right: 22%;
}

button {
    top:10%
}

.text2 h1 {
    font-size: 1.2rem;
}

.texas h3 {
    margin-bottom: 0;
}

.text2 p {
    font-size: 1rem;
}
}


@media screen and (max-width:768px) {

:root {
     --fs-buttonli: 0.5rem;
     --width: 140px;
}

.navbar li {
      font-size: 1vw;
      margin-left: 10px;
}

.texas {
      gap:5px;
}

.midsec3 {
     gap:20px;
}

.songs {
     gap:5px;
}

.fa {
     font-size: 10px;
     top:30%;
     position: absolute;
     color: white;
}
    
.fa-facebook-f {
     right: 28%;
}
    
.fa-twitter {
     right: 23%;
}
    
.fa-google-plus {
     right: 18%;
}

.header button {
     padding: 10px;
     color: white;
     background-color: var(--red);
     position: absolute;
     right:43%;
}

i ~ button {
     right: 5px;
     padding: 5px;
}

span {
     margin-left: 2px;
     font-size: 5px;
}

}

@media screen and (max-width:500px) {

:root {
     --fs-rem: 0.3rem;
}

.arrowsec, .midsec {
     gap:5px;
}

.presec {
     width: 60%;
}

.mainsec {
     gap:10px;
}

.instfeed, .images {
     margin-top: 20px;
}

.images {
     grid-gap: 5px;
}

i ~ button {
     top:10%;
     font-size: var(--fs-rem);
}

.header button {
     padding: 5px;
     right:41%;
}

.texas button {
     font-size:var(--fs-rem);
     width: 60px;
     padding: 5px;
}

.text h3, .text p,
.header button {
     font-size: var(--fs-buttonli);
}

.text2 h1 {
     font-size: var(--fs-buttonli);
}

.texas h3 {
     margin-bottom: 5px;
     font-size: 0.4rem;
}

.text2 p {
     font-size: 0.4rem;
}

.texas p {
     font-size: var(--fs-rem);
}

.songs p {
     font-size: var(--fs-rem);
}

.lastsec p {
    font-size: 1rem;
}

.text2 span {
    font-size: small;
}

.piano i {
    padding: 5px;
    font-size: 10px;
}


.footernav p, .footernav li {
    font-size: var(--fs-buttonli);
}

.fas {
    font-size: 10px;
}

.fa {
    font-size: 5px;
}

.presec p:nth-of-type(2) {
    margin-left: 10px;
}

.presec p:first-of-type, 
.concert p:first-of-type,
.videos p:first-of-type {
    font-size:medium;
}

.presec p:nth-of-type(2),
.concert p:nth-of-type(2),
.videos p:nth-of-type(2) {
    font-family: "Dancing Script", cursive;
    font-size:medium;
}

}
